.shop{
    display: grid;
    grid-template-columns: 8fr 3fr;
    margin-left: 56px;
    
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 30px;
    
}
.products img{
    width: 250px;
    height: 250px;
    padding: 5px;
}
.cart-container{
    background-color: rgba(255,153,0,0.3);
    margin-left: 50px;
    text-align: start;
    padding: 0 20px;
}