.review-item{
    border: 1px solid #95A0A7;
    text-align: start;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 578px;
    display: flex;
}
.review-item img{
    width: 91px;
}
.review-item-details p{
    margin: 0;
}
.review-items-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px ;
}
.review-item .delete-btn{
    background: #eb57571c;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.delete-icon{
    color: #eb5757;
    font-size: 24px;
    
}

.review-item .delete-btn:hover{
    background: #eb575746;
    
}