.item-parent{
    position: relative;
    height: 500px;
    margin-bottom: 20px;
    border: 2px solid #8080802a;
    border-radius: 10px;
}
.product-name{
    font-size: 20px;
    font-weight: 700;
    
}
.price{
    font-size: 18px;
    font-weight: 500;
    
}
.card-text{
    text-align: start;
    padding: 0 10px;
    
}
.text-gap{
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    line-height: 5px;
    color: rgb(51, 49, 49);
}
.card-text button{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFE0B3;
    border: none;
    border-top: 1.9px solid #80808091;
    border-radius:0 0 10px 10px;
    font-size: 14px;
    font-weight: 600;
}
.card-text button:hover{
    background-color: orange;
    color: #fff;
}